<h1>Grouprides#edit</h1>
<p>Find me in app/views/grouprides/edit.html.erb</p>
<p>  this page is only accessable by the ride owner, it is for editing details of the ride, or cancelling the ride. </p>

