<h1>Grouprides#new</h1>
<p>Find me in app/views/grouprides/new.html.erb</p>
<p>  this page will be for adding a new group ride.  The first question will be to select a route, Then timing, name, description, ect.</p>
